@font-face {
  font-family: "SFProText-Regular";
  src: url('../assets/fonts/SFProText-Regular.ttf');
}
@font-face {
  font-family: "SFProText-Medium";
  src: url('../assets/fonts/SFProText-Medium.ttf');
}
@font-face {
  font-family: "SFProText-SemiBold";
  src: url('../assets/fonts/SFProText-SemiBold.ttf');
}
@font-face {
  font-family: "SFProText-Bold";
  src: url('../assets/fonts/SFProText-Bold.ttf');
}